<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="nav-section">
        <div class="nav-heading" onclick="toggleNavTreeview('social-media-treeview', this.querySelector('.right i'))">
            <i class="fa fa-bullseye"></i>
            <span>Scanning</span>
            <i class="fa fa-plus right"></i> <!-- Plus icon that changes on click -->
        </div>

        <div class="nav-treeview" id="social-media-treeview">
            <ul>
                <!-- IP Scanning with a nested submenu -->
                <li>
                    <a href="javascript:void(0);" onclick="toggleSubMenu(this, this.querySelector('.toggle-btn'))">
                        <i class="fa fa-network-wired"></i> IP Scanning
                        <span class="toggle-btn">+</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="scan-item"><a href="Basic-IP-Scan.html">Basic Scan</a></li>
                        <li class="scan-item"><a href="Advance-IP-Scan.html">Advanced Scan</a></li>
                    </ul>
                </li>

                <!-- Web Scanning -->
                <li>
                    <a href="javascript:void(0);" onclick="toggleSubMenu(this, this.querySelector('.toggle-btn'))">
                        <i class="fa fa-search"></i> Web Scanning
                        <span class="toggle-btn">+</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="scan-item"><a href="Web-scan-basic.html">Basic Scan</a></li>
                        <li class="scan-item"><a href="Advance-Web-scan.html">Advanced Scan</a></li>
                    </ul>
                </li>

                <!-- Other scanning categories -->
                <!-- App Scanning -->
                <li>
                    <a href="javascript:void(0);" onclick="toggleSubMenu(this, this.querySelector('.toggle-btn'))">
                        <i class="fa fa-mobile-alt"></i> App Scanning
                        <span class="toggle-btn">+</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="scan-item"><a href="app-scan-basic.html">Basic Scan</a></li>
                        <li class="scan-item"><a href="advance-app-scan.html">Advanced Scan</a></li>
                    </ul>
                </li>

                <!-- Cloud Scanning -->
                <li>
                    <a href="javascript:void(0);" onclick="toggleSubMenu(this, this.querySelector('.toggle-btn'))">
                        <i class="fa fa-cloud"></i> Cloud Scanning
                        <span class="toggle-btn">+</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="scan-item"><a href="basic-cloud-scan.html">Basic Scan</a></li>
                        <li class="scan-item"><a href="Advance-cloud-scanning.html">Advanced Scan</a></li>
                    </ul>
                </li>

                <!-- Network Scanning -->
                <li>
                    <a href="javascript:void(0);" onclick="toggleSubMenu(this, this.querySelector('.toggle-btn'))">
                        <i class="fa fa-globe"></i> Network Scanning
                        <span class="toggle-btn">+</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="scan-item"><a href="basic-network-scan.html">Basic Scan</a></li>
                        <li class="scan-item"><a href="Advance-network-scanning.html">Advanced Scan</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
